# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

pool:
  vmImage: 'windows-latest'
  
steps:
- task: DotNetCoreCLI@2
  inputs:
    command: 'pack'
    packagesToPack: 'src/HealthChecks.UI/HealthChecks.UI.csproj'

- task: DotNetCoreCLI@2
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    nuGetFeedType: 'internal'
    publishVstsFeed: '/f5d386a3-8dee-48df-bd28-a20129c023ad'